# Supabase
VITE_SUPABASE_URL=sua-url-supabase
VITE_SUPABASE_ANON_KEY=sua-chave-anon-supabase

# Não é recomendado armazenar chaves privadas no cliente
# Estas chaves agora serão usadas apenas pelo servidor
# VITE_SUPABASE_SERVICE_KEY=nao-armazenar-no-cliente

# URL da API de autenticação segura
VITE_AUTH_API_URL=http://localhost:3000 